/* add home page styles here */
.grid {
    position: absolute;
    height: 300px;
    width: 560px;
    border: 3px solid lightseagreen;
}

.block {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: rgb(222, 39, 69);
}

.user {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: darkolivegreen;
}