.grid {
    position: absolute;
    height: 300px;
    width: 560px;
    border: 3px solid darkcyan;
}

.block {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: rebeccapurple;
}

.user {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: darkorange;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: dodgerblue;
}